{% extends 'base.html' %} {% block content %}
<h2>{{ post.title }}</h2>
<p>{{ post.content }}</p>
<p>{{ post.name }}</p>
<br> {% for comment in post.comments %}
<p>{{ comment.content }}</p>
<p>{{ comment.name }}</p>
<br> {% endfor %}
<form action='' method='post' name='new_comment'>
    {{ form.hidden_tag() }}
    <p>
        {{ form.content.label }}
        <br> {{ form.content(cols=50, rows=4) }}
        <br> {% for error in form.content.errors %}
        <span style='color: red;'>[{{error}}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.name.label }}
        <br> {{ form.name(size=32) }}
        <br> {% for error in form.name.errors %}
        <span style='color: red;'>[{{error}}]</span>
        {% endfor %}
    </p>
    <button type="submit">Comment</button>
</form>
{% endblock %}